{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="wrapper dashboard">
        <div class="row">
            <div class="col">
                <h2>Toutes les natures de trajet</h2>
                <a href="{{ path('newNature') }}" class="btn btn-success" role="button" aria-pressed="true">+ Ajouter une nature de trajet</a>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nature de déplacement</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for nature in natures %}
                        <tr>
                            <td>{{ nature.id }}</td>
                            <td>{{ nature.nomNatureDeplacement }}</td>
                            <td><a href="{{ path('editNature', {'id': nature.id }) }}">Editer</a></td>
                            <td><a href="{{ path('deleteNature', {'id': nature.id }) }}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Tous les lieux de réception</h2>
                <a href="{{ path('newPlace') }}" class="btn btn-success" role="button" aria-pressed="true">+ Ajouter un lieu de réception</a>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Lieu de réception</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for place in places %}
                        <tr>
                            <td>{{ place.id }}</td>
                            <td>{{ place.nomLieuReception }}</td>
                            <td><a href="{{ path('editPlace', {'id': place.id }) }}">Editer</a></td>
                            <td><a href="{{ path('deletePlace', {'id': place.id }) }}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Tous les utilisateurs</h2>
                <a href="{{ path('newAdministrator') }}" class="btn btn-success" role="button" aria-pressed="true">+ Ajouter un utilisateur</a>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.prenomUtilisateur }}</td>
                            <td>{{ user.nomUtilisateur }}</td>
                            <td>{{ user.emailUtilisateur }}</td>
                            <td><a href="{{ path('editPlace', {'id': user.id }) }}">Editer</a></td>
                            <td><a href="{{ path('deletePlace', {'id': user.id }) }}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}