<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ZeniBoard{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('common/css/admin-style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="admin">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="{{ path('adminDashboard') }}">
                    <img src="{{ asset('common/img/logo-zeniboard.jpg') }}" width="160px" alt="ZeniBoard">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link {{ app.request.get('_route') == 'adminDashboard' ? 'active' }}" href="{{ path('adminDashboard') }}">Dashboard</a>
                        <a class="nav-item nav-link {{ app.request.get('_route') == 'indexVehicle' ? 'active' }}" href="{{ path('indexVehicle') }}">Véhicules</a>
                        <a class="nav-item nav-link {{ app.request.get('_route') == 'indexDriver' ? 'active' }}" href="{{ path('indexDriver') }}">Conducteurs</a>
                        <a class="nav-item nav-link {{ app.request.get('_route') == 'indexTraject' ? 'active' }}" href="{{ path('indexTraject') }}">Trajets</a>
                        <a class="nav-item nav-link {{ app.request.get('_route') == 'indexParameter' ? 'active' }}" href="{{ path('indexParameter') }}">Paramètres</a>
                    </div>
                </div>
                <a href="{{ path('logout') }}" type="button" class="btn btn-outline-secondary btn-sm">Déconnexion</a>
            </nav>

            {% block body %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
