{% extends 'base-admin.html.twig' %}

{% block body %}

    <div class="wrapper">
        <h2>Editer un utilisateur</h2>

        {{ form_start(form) }}
            {{ form_row(form.emailUtilisateur) }}
            {{ form_row(form.prenomUtilisateur) }}
            {{ form_row(form.nomUtilisateur) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button type="submit">Ajouter</button>
        {{ form_end(form) }}

    </div>

{% endblock %}