{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="wrapper dashboard">
        <h2>Tous les conducteurs</h2>
        <a href="{{ path('newDriver') }}" class="btn btn-success" role="button" aria-pressed="true">+ Ajouter un conducteur</a>

        {% for label, messages in app.flashes(['success', 'info', 'warning', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            {% for driver in drivers %}
                {% if driver.roles[0] == "ROLE_USER" %}
                    <tr>
                        <td>{{ driver.id }}</td>
                        <td>{{ driver.nomUtilisateur }}</td>
                        <td>{{ driver.prenomUtilisateur }}</td>
                        <td>{{ driver.emailUtilisateur }}</td>
                        <td><a href="{{ path('editDriver', {'id': driver.id }) }}">Editer</a></td>
                        <td><a href="{{ path('deleteDriver', {'id': driver.id }) }}">Supprimer</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

    </div>
{% endblock %}